<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>Gather location updates to get SSID</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Gather location updates to get SSID</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>To save the pictures you took in the photo album</string>
	<key>NSCameraUsageDescription</key>
	<string>To take pictures and recognize text in the pictures</string>
	<key>location-services</key>
	<string>Include this key if your app requires location services. Always include it if you also include the gps or magnetometer key.</string>
	<key>gps</key>
	<string>Include this key if your app requires GPS-level precision for locations, or if you require course information. Navigation apps typically include this key in their Info.plist.</string>
	<key>magnetometer</key>
	<string>Include this key if your app uses heading information, which requires the presence of a magnetometer.</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
