<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-5182976255138770~1989515737</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>User Interface Style</key>
		<string>Dark</string>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>gps</key>
	<string>Include this key if your app requires GPS-level precision for locations, or if you require course information. Navigation apps typically include this key in their Info.plist.</string>
	<key>location-services</key>
	<string>Include this key if your app requires location services. Always include it if you also include the gps or magnetometer key.</string>
	<key>magnetometer</key>
	<string>Include this key if your app uses heading information, which requires the presence of a magnetometer.</string>
</dict>
</plist>
